@import "../../assets/styles/variables";

.section {
    margin-top: 100px;
}

.container {
    @include container;
    margin: 0 auto;
    min-width: 300px;
    min-height: 300px;

    .header {
        @include mainCaption;
        text-align: center;
    }
}

.credentials {
    padding: 0 50px;
    margin-top: 30px;

    .input {
        display: block;
        margin-top: 20px;
        padding: 20px;
        width: calc(100% - 40px);
        background-color: $secondary-color;
        border: none;
        border-radius: $block-border-radius;

        &::placeholder {
            color: #000;
        }
    }

    .btnContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;

        .btn {
            @include mainButton;
            @include animatedButton;
        }
    }

    .attention {
        margin-top: 50px;
        text-align: center;
        font-size: 18px;

        a {
            color: inherit;
            transition: color 0.3s ease;

            &:hover {
                color: $fourth-color;
            }
        }
    }
}
