@import "../../assets/styles/variables";

.search {
    .searchLineContainer {
        display: flex;
        align-items: center;
        gap: 10px;

        .searchInput {
            width: 95%;
            padding: 20px;
            border-radius: 6px;
            border: none;
        }

        svg {
            width: 40px;
            height: 40px;
        }
    }

    .dates {
        display: flex;
        gap: 25px;
        border: none;
        margin-top: 20px;

        label {
            color: $main-color;
        }

        fieldset {
            border-color: $main-color !important;
        }

        div {
            font-family: inherit;
        }

        .btn {
            @include mainButton;
        }
    }
}


.content {
    margin-top: 25px;
}