@import "../../assets/styles/variables.scss";

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    min-height: 200px;
    background-color: $secondary-color;
}
