@import "../../../assets/styles/variables";

.hero {
    display: flex;
    // align-items: center;
    // justify-content: center;
    margin-top: 100px;
}

.container {
    @include container;

    .header {
        @include mainHeader;

        span {
            display: block;
        }
    }

    .text {
        @include blockText;
    }
}

.robotContainer {
    position: relative;
    width: 50%;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
}

.btn {
    @include mainButton;
    @include animatedButton;
}
